# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

# Conda
.python-version

# Outputs
outputs/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Env
.env
*.local.yaml
